.dragElement,
.dropZone {
    width: 12rem;
    height: 15rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    cursor:grab;

}

.dragElement:active{ cursor:grabbing; transform:scale(.98); }

.dropZone {
    width: 13rem;
    height: 16rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.beingDragged {
    color: white;
    background-color: black;
}

.hoverOver {
    transition: 0.3s ease-out;
    border: solid 5px #d67ec5;
   
}

@media (max-width: 800px) {
    .dragElement {
        width: 6rem;
        height: 9rem;
        font-size: 60%;
    }
    .dropZone {
        width: 8rem;
        height: 10rem;
    }
}
