*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: auto;
    width: 100vw;   
}


.nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 5%;
    min-height: 8vh;
    background-color: black;
    align-items: center;
    justify-content: center;

    
}

a {
    text-decoration: none;
    color: white;
}

footer {
        text-align: center;
        position: absolute;
        background-color: black;
        width: 100vw;
        bottom: 0;
        color: white;
        height: auto;
}

#nagydiv{
    display: flex;
    background-color: green;
    flex-direction: row;
    padding: 30px;
}

img{
    max-width: 20vw;
}
